name: Docker CI
on:
  push:
    branches:
      - main
  pull_request_target: {}

# By specifying the access of one of the scopes, all of those that are not specified are set to 'none'.
permissions:
  # To be able to access the repository with `actions/checkout`
  contents: read

jobs:
  build:
    name: Build & Push
    runs-on: ubuntu-24.04
    steps:
      - name: Getting image tag
        id: tag
        run: |
          tag="${{ github.sha }}"

          if [[ "${{ github.event.pull_request.head.sha }}" != "" ]]; then
            echo "Detected PR SHA ${{ github.event.pull_request.head.sha }}"
            tag="${{ github.event.pull_request.head.sha }}"
          fi

          echo "tag=${tag}" >> $GITHUB_OUTPUT
          echo "TAG: ${tag}"

      - name: Checkout
        uses: actions/checkout@v3
        with:
          ref: ${{ steps.tag.outputs.tag }}
          persist-credentials: false

      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@885d1462b80bc1c1c7f0b00334ad271f09369c55 # v2.10.0

      - name: Login to quay.io
        uses: docker/login-action@465a07811f14bebb1938fbed4728c6a1ff8901fc # v2.2.0
        with:
          registry: quay.io
          username: ${{ secrets.QUAY_CI_USERNAME }}
          password: ${{ secrets.QUAY_CI_TOKEN }}

      - name: Build & Push Docker Image
        uses: docker/build-push-action@0a97817b6ade9f46837855d676c4cca3a2471fc9 # v4.2.1
        with:
          context: .
          push: true
          platforms: linux/amd64,linux/arm64
          tags: |
            quay.io/${{ github.repository_owner }}/team-manager-ci:${{ steps.tag.outputs.tag }}
