name: Docker CI
on:
  push:
    branches:
      - main
  pull_request_target: {}

# By specifying the access of one of the scopes, all of those that are not specified are set to 'none'.
permissions:
  # To be able to access the repository with `actions/checkout`
  contents: read

jobs:
  build:
    name: Build & Push
    runs-on: ubuntu-24.04
    steps:
      - name: Getting image tag
        id: tag
        run: |
          tag="${{ github.sha }}"

          if [[ "${{ github.event.pull_request.head.sha }}" != "" ]]; then
            echo "Detected PR SHA ${{ github.event.pull_request.head.sha }}"
            tag="${{ github.event.pull_request.head.sha }}"
          fi

          echo "tag=${tag}" >> $GITHUB_OUTPUT
          echo "TAG: ${tag}"

      - name: Checkout
        uses: actions/checkout@v5
        with:
          ref: ${{ steps.tag.outputs.tag }}
          persist-credentials: false

      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1

      - name: Login to quay.io
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: quay.io
          username: ${{ secrets.QUAY_CI_USERNAME }}
          password: ${{ secrets.QUAY_CI_TOKEN }}

      - name: Build & Push Docker Image
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: .
          push: true
          platforms: linux/amd64,linux/arm64
          tags: |
            quay.io/${{ github.repository_owner }}/team-manager-ci:${{ steps.tag.outputs.tag }}
